@page "/asf"

@using ICH.Client.API;
@using ICH.Shared.ViewModels.Vacancy;

@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-4 justify-content-center">
            <div class="row justify-content-center mb-3">
                <h2 style="justify-content:center; text-align: center;">
                    Login
                </h2>
            </div>
            <div class="row justify-content-center mb-3">
                <HxButton OnClick="OnTRPLoginClicked" Color="ThemeColor.Primary">TRP</HxButton>
            </div>
            <div class="row justify-content-center mb-3">
                <HxButton OnClick="OnOrgLoginClicked" Color="ThemeColor.Primary">Organization</HxButton>
            </div>
        </div>
    </div>
</div>

@code {
    public async Task OnTRPLoginClicked()
    {
        NavigationManager.NavigateTo(VacanciesLinks.Vacancies);
    }

    public async Task OnWorkerLoginClicked()
    {
        NavigationManager.NavigateTo(VacanciesLinks.OldVacancies);
    }

    public async Task OnOrgLoginClicked()
    {
        NavigationManager.NavigateTo(CandidateLinks.Candidates);
    }
}
